* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #041e39;
  transition: all ease 1s;
}

.c-hamburger {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 55px;
  height: 55px;
  font-size: 0;
  box-shadow: none;
  cursor: pointer;
  margin-top: 20px;
  padding-left: 20px;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 25px;
  left: 9px;
  right: 9px;
  height: 4px;
  background: #fff;
}

.c-hamburger span::before,
.c-hamburger span::after {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  height: 4px;
  background: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -20px;
}

.c-hamburger span::after {
  bottom: -20px;
}

.c-hamburger {
  background-color: #041e39;
  border: none;
}

.c-hamburger-line span {
  transition: backgraund 0s 0.3s;
}

.c-hamburger-line span::before,
.c-hamburger-line span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0.3s;
}

.c-hamburger-line span::before {
  transition-property: top, transform;
}

.c-hamburger-line span::after {
  transition-property: bottom, transform;
}

.c-hamburger-line.is-active {
  background: yellowgreen;
}

.c-hamburger-line.is-active span {
  background: none;
}

.c-hamburger-line.is-active span::before {
  top: 0;
  transform: rotate(-45deg);
}

.c-hamburger-line.is-active span::after {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger-line.is-active span::before,
.c-hamburger-line.is-active span::after {
  transition-delay: 0s, 0.3s;
}

#menu {
  width: 300px;
  margin-left: -244px;
  background: #041e39;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transition: all ease 1s;
  z-index: 99;
}

.body-active {
  margin-left: 300px;
}

#menu.nav-active {
  margin-left: 0;
}

.first {
  margin-top: 95px;
}

.buttons {
  background-color: #041e39;
  color: #fff;
  font-size: 25px;
  border: none;
  display: block;
  width: 100%;
  text-align: center;
  height: 70px;
  margin-bottom: 20px;
}

.buttons:hover {
  cursor: pointer;
}

.block {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin-left: 95px;
  font-size: 40px;
  margin-top: 20px;
}

h1:hover {
  cursor: pointer;
}

input {
  width: 300px;
  height: 40px;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie {
  width: 260px;
  margin: 10px;
  position: relative;
  color: #cee54d;
}
.movie img {
  width: 100%;
}

.movie img:hover {
  transition: 1s;
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.75);
  opacity: 0.5;
  cursor: pointer;
}

.movie__info {
  padding: 10px 0;
}

.movie__title {
  font-size: 16px;
  color: #ec1996;
}

.movie__category {
  font: 14px;
}

.movie__mark {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cee54d;
  color: #041e39;
  font-size: 14px;
}

.movie__mark_green {
  border: 4px solid green;
}

.movie__mark_red {
  border: 4px solid red;
}

.movie__mark_orange {
  border: 4px solid orange;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  transition: width 2s;
}

.modal--show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__card {
  background-color: #fff;
  max-width: 600px;
  padding: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-color: #1a191f;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.modal__movie-backdrop {
  width: 100%;
  margin: 0 auto;
}

.modal__movie-info {
  margin-left: 20px;
}

.modal__button-close {
  padding: 5px;
  margin: 10px;
  align-self: center;
  width: 120px;
  border-radius: 10px;
  background-color: #cb0032;
  color: #fff;
  height: 40px;
  font-size: 20px;
}

.modal__button-close:hover {
  cursor: pointer;
}

.modal__movie-stile {
  color: #ffd80e;
}

ul li {
  padding: 5px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

footer {
  height: 100px;
}

.line {
  border-bottom: 1px solid #cee54d;
  max-width: 800px;
  margin: 0 auto;
}

.footer__info_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 7px;
  color: #000000;
}

.footer__info {
  display: flex;
  justify-content: right;
  flex-direction: column;
  width: 150px;
}
.footer__info img {
  width: 20px;
}
.footer__info h3 {
  font-size: 15px;
}
.footer__info p {
  font-size: 13px;
}
.footer__info .footer__info_person {
  display: flex;
  margin-top: 7px;
  justify-content: space-between;
}

.footer__defens {
  text-align: right;
  margin-right: 20px;
  padding-bottom: 10px;
  font-size: 12px;
}

.main__page {
  display: flex;
  justify-content: center;
  color: #cee54d;
  margin-bottom: 20px;
}
.main__page .main__page_numb {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #cee54d;
  width: 20px;
  height: 20px;
  font-size: 15px;
  margin-right: 10px;
  padding-top: 2px;
  cursor: pointer;
}

.main_page_click {
  background-color: #cee54d;
  color: #041e39;
}

.modal__button-info {
  padding: 5px;
  margin: 10px;
  align-self: center;
  width: 250px;
  border-radius: 10px;
  background-color: #cb0032;
  color: #fff;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
}

.modal__button-wrapper {
  display: flex;
  justify-content: space-between;
}

.about__film {
  width: 1450px;
  margin: 0 auto;
}

.about__film-poster-img {
  max-width: 400px;
  border-radius: 5px;
  margin-right: 50px;
}

.about__film {
  display: flex;
}

.about__film-info {
  color: #cee54d;
}
.about__film-info h2 {
  font-size: 45px;
  margin-bottom: 30px;
}
.about__film-info p {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 200;
}

.colortext {
  color: #ec1996;
  font-size: 17px;
}

.posters_name {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 25px;
  color: #ec1996;
}

.poster-img {
  width: 400px;
  height: 240px;
  margin-right: 20px;
}

.posters__imgs {
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */